<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FeedbackApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D431C6AF1C24372E00183DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D47622101C62407F008EEF42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D47622201C6245F0008EEF42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4DE94F61C63F92F003C7C5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
